<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="../styles/estoque.css">
</head>
<body>
    <header>
        <img src="../../assets/logo-merc.png" class="logoImg" alt="imgLogo">
    </header>

    <button onclick="voltarInicio()"
    style=" padding: 20px;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #0a6847;
    border-radius: 24px;
    border: none;
    font-size: 18px;
    color: #f3ca52;
    cursor: pointer;"> Voltar
</button>
    
    <div>
        <p class="texto"><strong>Pesquisar produtos:</strong></p>
        <input class="pesquisa" type="text">

        <button class="adicionar">Adicionar Itens</button>
    </div>
    
    <table id="estoque">
        <thead>
            <tr>
                <th>Nome do Produto:</th>
                <th>Código:</th>
                <th>NCM:</th>
                <th>Quantidade Disponivel:</th>
                <th>Valor:</th>
            </tr>
        </thead>
        <tbody>
            <!-- Linhas de produtos serão inseridas aqui -->
        </tbody>
    </table>

    <script src="../../js/estoque.js"></script>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Cadastrar Novo Item</h2>
            <form id="formProduto">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" required>
                <label for="codigo">Código de Barras:</label>
                <input type="text" id="codigo" required>
                <label for="ncm">NCM:</label>
                <input type="text" id="ncm" required>
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" required>
                <label for="valor">Valor:</label>
                <input type="number" id="valor" step="0.01" required>
                <label for="lucro">Lucro em %:</label>
                <input type="number" id="lucro" required>
                <button class="botaomodel" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>

    <script>
        function voltarInicio() {
            window.location.href = "./inicio.html"; // Verifique se o caminho do arquivo está correto.
        }


    </script>

</body>
</html>