<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <header>
        <img src="/assets/logo-merc.png" class="logoImg" alt="imgLogo">
    </header>

    <section class="secaoDeLogim">

        <div class="Login">
            <h1 class="titulo"><strong>Cadastro</strong></h1>

            <p class="texto"><strong>Usuário:</strong></p>
            <input class="input" type="text" placeholder="Nome">

            <p class="texto"><strong>Senha:</strong></p>
            <input class="input" type="password" placeholder="Senha">
            <br><br>

            <div class="divbotao">
                <button class="botao"><strong>Cadastrar</strong></button>
                <p class="OU"><strong>OU</strong></p>
                <button class="botao"><strong>Login</strong></button>

            </div>

        </div>

    </section>
</body>
</html>